.view-about {
    section {
        height: calc(var(--vh, 1vh) * 100);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        h1 {
            font-size: 180px;
            font-family: sans-serif;
            color: #000000;
            text-transform: uppercase;
            white-space: nowrap;
            position: absolute;
            left: 0;
            z-index: 3;
            pointer-events: none;
            @include bp-767 {
                color: #ffffff;
                font-size: 50px;
            }
        }
        .image-wrapper {
            width: 35%;
            position: relative;
            .ar-wrapper {
                padding-bottom: 60%;
            }
            @include bp-767 {
                width: 75%;
            }
        }
        img {
            width: 100%;
            height: 100%;
            z-index: 2;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .scale-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform-origin: 50% 100%;
    }
}
